nav{
    background-color: $primarycolor;
    border-bottom: 1px solid $secondarycolor;
    a{
        color: $secondarycolor !important;
    }
    a:hover{
        text-decoration: underline;
    }
};

