nav{
    background-color: $secondarycolor;
    border-bottom: 1px solid lightgrey;
    a,.nav-item{
        font-weight: bold;
        color: black !important;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.2s ease-in-out;
    };
    // .nav-item:hover{
    //     border-bottom-color: $primarycolor;
    // }
    a:hover{
        color: $primarycolor !important; 
    };
};

