.contenitoreintestazionesito {
  border-bottom: 1px solid lightgrey;
  width: 100%;
  margin: auto;
}
.contenitoreintestazionesito a {
  color: #3232ed !important;
}
.contenitoreintestazionesito h2 {
  width: 100%;
}

nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgrey;
}
nav a, nav .nav-item {
  font-weight: bold;
  color: black !important;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}
nav a:hover {
  color: #3232ed !important;
}

.sezionesocialfooter {
  border-bottom: 1px solid #3232ed;
  border-top: 1px solid #3232ed;
}

.fontpiccolo {
  font-family: "Nanum Myeongjo", serif;
}

.fonttitoli {
  font-family: "Merriweather", serif;
}

.contenitoreimgmarehome {
  background-image: url("img/ristoranti-sul-mare.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

@media screen and (max-width: 992px) {
  .contenitoreimgmarehome {
    height: 65vh;
  }
}
@media screen and (max-width: 452px) {
  .contenitoreimgmarehome {
    height: 35vh;
  }
}
@media screen and (max-width: 2500px) {
  .contenitoretitoloimg {
    position: relative;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 992px) {
  .contenitoretitoloimg {
    position: relative;
    left: 50%;
    bottom: 85%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 552px) {
  .contenitoretitoloimg {
    position: relative;
    left: 50%;
    bottom: 85%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 452px) {
  .contenitoretitoloimg {
    position: relative;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
  }
}
.colonnaprimafotohome {
  position: relative;
}

.colonnaprimafotohome img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.colonnasecondafotohome {
  position: relative;
}

.colonnasecondafotohome img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenitorerecensioni {
  border: 1px solid #3232ed;
  box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
}
.contenitorerecensioni h3 {
  border-bottom: 1px solid #3232ed;
}

@media screen and (max-width: 575px) {
  .contenitorerecensioni {
    width: 85%;
  }
}
.contenitoreformprenotazioni .col-10 {
  border: 1px solid #3232ed;
  box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
}
.contenitoreformprenotazioni .inputprenotazioni {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  border: 1px solid lightgrey;
  cursor: pointer;
}
.contenitoreformprenotazioni .inputprenotazioni:focus {
  outline: none;
  border: 1px solid #3232ed;
}
.contenitoreformprenotazioni #id {
  cursor: pointer;
}
.contenitoreformprenotazioni button {
  background-color: black;
  color: rgb(255, 255, 255);
}
.contenitoreformprenotazioni button:hover {
  background-color: rgb(255, 255, 255);
  color: #3232ed;
  border: 1px solid #3232ed;
}

.contenitoricontatti .col-10 {
  border: 1px solid #3232ed;
  box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
}

.gridantipastimenu ul, .gridprimimenu ul, .gridasecondi ul, .griddessert ul {
  list-style-type: none;
}
.gridantipastimenu .colonnafotoantipasti, .gridprimimenu .colonnafotoantipasti, .gridasecondi .colonnafotoantipasti, .griddessert .colonnafotoantipasti {
  position: relative;
}
.gridantipastimenu .colonnafotoantipasti img, .gridprimimenu .colonnafotoantipasti img, .gridasecondi .colonnafotoantipasti img, .griddessert .colonnafotoantipasti img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gridantipastimenu .colonnafotoprimi, .gridprimimenu .colonnafotoprimi, .gridasecondi .colonnafotoprimi, .griddessert .colonnafotoprimi {
  position: relative;
}
.gridantipastimenu .colonnafotoprimi img, .gridprimimenu .colonnafotoprimi img, .gridasecondi .colonnafotoprimi img, .griddessert .colonnafotoprimi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gridantipastimenu .colonnafotosecondi, .gridprimimenu .colonnafotosecondi, .gridasecondi .colonnafotosecondi, .griddessert .colonnafotosecondi {
  position: relative;
}
.gridantipastimenu .colonnafotosecondi img, .gridprimimenu .colonnafotosecondi img, .gridasecondi .colonnafotosecondi img, .griddessert .colonnafotosecondi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gridantipastimenu .colonnafotodessert, .gridprimimenu .colonnafotodessert, .gridasecondi .colonnafotodessert, .griddessert .colonnafotodessert {
  position: relative;
}
.gridantipastimenu .colonnafotodessert img, .gridprimimenu .colonnafotodessert img, .gridasecondi .colonnafotodessert img, .griddessert .colonnafotodessert img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .gridantipastimenu .colonnalistamenu, .gridprimimenu .colonnalistamenu, .gridasecondi .colonnalistamenu, .griddessert .colonnalistamenu {
    text-align: left !important;
  }
}

.iframegooglemap {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=mainstyle.css.map */