@import 'responsive';
@import 'variable';
@import 'header';
@import 'footer';


// @mixin TipografiaResponsive(){
//     font-size: calc(0.6em + 2.5vw);
// }
.fontpiccolo{
    font-family: $fontpiccolo;
}
.fonttitoli{
    font-family: $fonttitoli;
}
.contenitoreimgmarehome{
    background-image: url('img/ristoranti-sul-mare.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;    
}
@media screen and (max-width: 992px) {
    .contenitoreimgmarehome {
      height: 65vh;
    }
}
@media screen and (max-width: 452px) {
    .contenitoreimgmarehome {
      height: 35vh;
    }
}
// funzioni responsive testo img
@mixin Posizionetitoloimg1200px(){
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}
@mixin Posizionetitoloimg1092px(){
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}
@mixin Posizionetitoloimg802px(){
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}
@mixin Posizionetitoloimg452px(){
    position: absolute;
    left: 50%;
    bottom: 58%;
    transform: translate(-50%, -50%);
}
// media query posizione testo su img
@media screen and (max-width: 2500px) {
    .contenitoretitoloimg{
      @include Posizionetitoloimg1200px();
    }
}
@media screen and (max-width: 992px) {
    .contenitoretitoloimg{
      @include Posizionetitoloimg1092px();
    }
}
@media screen and (max-width: 552px) {
    .contenitoretitoloimg{
      @include Posizionetitoloimg802px();
    }
  }
  @media screen and (max-width: 452px) {
    .contenitoretitoloimg{
      @include Posizionetitoloimg452px();
    }
  }
.contenitoretitoloimg{
    h1, span{
        text-shadow: 1px 0 rgb(96, 96, 96), -1px 0 rgb(96, 96, 96), 0 1px rgb(96, 96, 96), 0 -1px rgb(96, 96, 96),
               1px 1px rgb(96, 96, 96), -1px -1px rgb(96, 96, 96), 1px -1px rgb(96, 96, 96), -1px 1px rgb(96, 96, 96);
}
}
.colonnaprimafotohome{
    background-image: url('img/slideshow-1565694222.jpg');
    background-position: cover bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.colonnasecondafotohome{
    background-image: url('img/ristoranti-di-mare-Lazio.jpg');
    background-position: cover bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenitorerecensioni{
    h3{
        border-bottom: 1px solid $primarycolor;
    }
    border: 1px solid $primarycolor;
    box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
}
@media screen and (max-width: 575px) {
    .contenitorerecensioni{
      width: 85%;
    }
  }
.contenitoreformprenotazioni{
    .col-10{
        border: 1px solid $primarycolor;
        box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
    }
    .inputprenotazioni{
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        border: 1px solid lightgrey;
    }
    .inputprenotazioni:focus {
        outline: none;
        border: 1px solid $primarycolor;
    } 
    #id{
        cursor: pointer;
    }
    button{
        background-color: black;
        color:$secondarycolor;
    }
    button:hover{
        background-color: $secondarycolor;
        color:$primarycolor;
        border:1px solid $primarycolor;
    }
}
.contenitoricontatti{
    .col-10{
        border: 1px solid $primarycolor;
        box-shadow: rgba(109, 109, 109, 0.35) 0px 7px 18px;
    }
}